<div class="well">
  <ul class="thumbnails inline">
		<li>
	    <div class="thumbnail">
				<%= channelurl %>
	    </div>
	  </li>
	</ul>
	<ul class="common-divider"></ul>
	<div>
		<p class="text-center lead">
			专属渠道二维码
		</p>
	</div>
</div>
